EssentialsExamProject/SOA/businessCatalog/BusinessData/RuleOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="BusinessData.RuleOutput" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessData/RuleOutput" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessData/RuleOutput"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="RuleOutputType">
        <xs:sequence>
            <xs:element name="loanApprovalStatus" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RuleOutput" type="RuleOutputType"/>
</xs:schema>
