EssentialsExamProject/SOA/WSDLs/CreditRatingProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CreditRatingProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/CreditRatingProcess"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CreditRatingProcess">
            <xsd:element name="creditRatingRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ssNo" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="creditRatingResponseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cRating" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="creditRatingRequest">
        <wsdl:part name="parameters" element="tns:creditRatingRequest"/>
    </wsdl:message>
    <wsdl:message name="creditRatingResponseResponse">
        <wsdl:part name="parameters" element="tns:creditRatingResponseResponse"/>
    </wsdl:message>
    <wsdl:portType name="CreditRatingProcessPortType">
        <wsdl:operation name="creditRatingRequest">
            <wsdl:input message="tns:creditRatingRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CreditRatingProcessPortTypeCallBack">
        <wsdl:operation name="creditRatingResponse">
            <wsdl:input message="tns:creditRatingResponseResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="CreditRatingProcessPortTypePartnerLinkType">
        <plnk:role name="CreditRatingProcessPortTypeProvider">
            <plnk:portType name="tns:CreditRatingProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
